body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Fire Sans', 'Quetrial','Radio Canada', 'Poppins';
  background-color: black;
  color: #F9F9F9
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* DASHBOARD */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 25px 25px 0;
  background-color: #1b1b23;
}

.sidebar span {
  font-weight: bold;
}

.dash-right {
  display: flex;
  width: 90%;
  height: fit-content;
  background-color: #20232c;
  position: relative;
  top: 0;
  left: 10%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
}
.hello #b_usuario {
  font-weight: bold;
}


.hello h3 span {
  font-weight: 800;
}

.sidebar h5{
  margin: 7%;
  padding: 1%;
  color: #e7e7e7;
}

.btn-nav-ativo {
  width: 76%;
  background: linear-gradient(255deg, #1DED35, #048816);
  border-radius: 5px;
  text-align: start;
  padding: 1% 1%;
}

.btn-nav {
  width: 76%;
  border-radius: 5px;
  text-align: start;
  padding: 1% 1%;
}

.sidebar h6{
  margin: 7%;
  padding: 1%;
  color: #e7e7e7;
}

.btn-logout {
width: 26%;
background: #048816;
border-radius: 5px;
text-align: center;
padding: 1% 1%;
padding: 1% 1%;
}

.line {
  background: linear-gradient(135deg, #1DED35, #048816);
  height: 2px;
  width: 100%;
  margin-top: 10px;
  border-radius: 40px;
}

a {
  text-decoration: none;
}

