body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', 'Fire Sans', 'Quetrial','Radio Canada', 'Poppins';
    color: #F9F9F9
}
.banner {
    background-image: url(../imgs/Banners/Slide4.PNG);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.700);
    padding: 2%;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    background: linear-gradient(135deg, #1DED35, #048816);
    height: 2px;
    width: 84%;
    margin: 10px;
    border-radius: 40px;
}

input.normal, select {
    width: 80%;
    height: 10%;
    background-color: black;
    color: #F9F9F9;
    border: 0;
    border-radius: 5px;
    padding: 3%;
    margin: 10px 10px;
    font-size: 11px;
}
select {
    width: 86%;
    padding: 3% 1%;
}
div.select_languages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_buttons {
    display: flex;
    justify-content: space-between;
    width: 84%;
    align-items: center;
}
button.button1 {
    margin-top: 10px;
    width: 54%;
    height: 80%;
    border: 0;
    border-radius: 1px;
    padding: 8px;
    color: #F9F9F9;
    background: linear-gradient(135deg, #1DED35, #048816);
    font-family: 'Gilroy', 'Fire Sans', 'Quetrial','Radio Canada', 'Poppins';
}


button.button2 {
    margin-top: 10px;
    width: 70%;
    height: auto;
    border: 0px solid #cecece;
    border-radius: 2px;
    font-size: 9px;
    padding: 4px;
    color: #cecece;
    background: transparent;
    font-family: 'Gilroy', 'Fire Sans', 'Quetrial','Radio Canada', 'Poppins';
    text-align: start;
    margin-left: 30%;
    text-align: right;
}

input.checkbox {
    width: 10px;
    height: 10px;
    border-radius: 4px;
    background-color: #048816;
    border: 0;
}

#loading-gif {
    width: 10%;
}

.verification {
    display: flex;
    font-size: 11px;
    width: 87%;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
}

.verification input {
    width: 80%;
}

#confirmar_cadastro i {
    font-size: 12px;
}

#confirmar_cadastro {
    width: 22vw;
    height: 22vh;
    position: absolute;
    display: none;
    background-image: url(../imgs/Banners/Banner_Rules.png);
    box-shadow: 1px 1px 0.5rem  black ;
    border-radius: 10px;
    padding: 1% 1% 7% 1%;
}
#confirmar_cadastro a {
    text-decoration: underline #1DED35;
}
#confirmar_cadastro h6 {
        color: #cecece;
        font-weight: normal;
        width: 40%;
}

.render {
    width: auto;
    height: 84vh;
    position: absolute;
    top: 20vh;
    left: 52vw;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }

.loading-gif {
    height: 5px;
    width: auto;
}
  
.alerta_erro {
    top: 5%;
    left: 75%;
    width: auto;
    text-align: center;
    display: flex;
    z-index: 99;
    font-size: 10px;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.774);
    border-radius: 3px;
}
