body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Fire Sans', 'Quetrial','Radio Canada', 'Poppins';
  background-color: #161618;
  color: #F9F9F9
}

/* DASHBOARD */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 25px 25px 0;
  background-color: #1b1b23;
  box-shadow: 0 0 0.5rem black;
}

.sidebar span {
  font-weight: bold;
}

.dash-mural {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: #20232c;
  position: relative;
  top: 0;

}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
}
.hello #b_usuario {
  font-weight: bold;
}


.hello h3 span {
  font-weight: 800;
}

.sidebar h5{
  margin: 7%;
  padding: 1%;
  color: #e7e7e7;
}

.btn-nav-ativo {
  width: 76%;
  background: linear-gradient(255deg, #1DED35, #048816);
  border-radius: 5px;
  text-align: start;
  padding: 1% 1%;
}

.btn-nav {
  width: 76%;
  border-radius: 5px;
  text-align: start;
  padding: 1% 1%;
}

.sidebar h6{
  margin: 7%;
  padding: 1%;
  color: #e7e7e7;
}

.btn-logout {
width: 26%;
background: #048816;
border-radius: 5px;
text-align: center;
padding: 1% 1%;
padding: 1% 1%;
}

.line {
  background: linear-gradient(135deg, #1DED35, #048816);
  height: 2px;
  width: 100%;
  margin-top: 10px;
  border-radius: 40px;
}

a {
  text-decoration: none;
}

/* Maps Area */

.dash-mural {
  width: 100%;
  background-color: #161618;
}

.dash-mural .avisos {
  width: 94vw;
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-mural .avisos .container {
  margin-left: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.dash-mural .avisos .container .div-form {
  width: 100%;
}

.dash-mural .avisos .container .div-form #form_postagem {
  width: 100%;
  
}

.dash-mural .avisos .div-form label {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dash-mural .avisos .div-form span.pequeno{
  margin: 0;
  padding: 0;
  font-size: 8px;
}
.dash-mural .avisos .div-form span {
  margin-top: 4%;
}

.dash-mural .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(233, 233, 233);
  margin-top: 5px;
  margin-bottom : 5px;
}

.dash-mural .avisos .div-form textarea {
  width: 100%;
  background-color: rgb(233, 233, 233);
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.dash-mural .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 1% 1%;
  color: white;
  margin-top: 1%;
  background: linear-gradient(255deg, #1DED35, #048816);
  width: 10%;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 1% 1%;
  color: white;
  background: linear-gradient(255deg, #1DED35, #048816);
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid linear-gradient(255deg, #1DED35, #048816);
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}


.div-buttons button {
width: 8%;
background: #048816;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
padding: 1.5% 1% ;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;

  /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
  height: 100vh;
}



.cards {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 40%;
  justify-content: center;
  background-color: #212124;
  font-size: 20px;
  border-radius: 5px;
}

.card p {
  margin: 0;
  font-size: 30px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 20px;
  width: 100%;
  text-align: left;
  font-weight: lighter;
  margin-left: 20px;
}

.resultado {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}


.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 45px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid ;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.card_grafico {
  margin: 2%;
  width: 40%;
  padding: 1%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 40%;
  align-items: center;
  background-color: #212124;
  font-size: 20px;
  border-radius: 5px;
  color: #e7e7e7;
}





